@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #2a2141;
    width: 100vw;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.imagem img{
    border-radius: 10px;
    width: 70%;
}

.titles{
    text-align: center;
    margin: 30px;
    font-size: 1.4em;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.titles h1{
    font-weight: bolder;
}

.titles p{
    color: #a5a2af;
    font-weight: 600;
}

.buttons{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin-top: 40px;
    color: white;
}

.duracao{
    width: 300px;
    margin: 50px 0px;
    margin: 0 auto;
    
    
}

.barra{
    margin-top: 40px;
    padding-bottom: 10px;
    max-width: 300px;
    width: 300px;
    height: 6px;
    border: 2px solid white;
    display: flex;
}
progress{
    max-width: 300px;
    width: 0%;
    height: 6px;
    border: 2px solid white;
    color: white;
}



audio#myaudio{
    border: none;
}

.tempoaudio{
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    color: #a5a2af;
    font-weight: bolder;
    padding-top: 10px;
}